* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*62.5% of 16px = 10px (We use a % to be more user friendly, 16px is default)
*/
  /*Global font-size (Each rem unit is now 10px)*/
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-btn {
  border: none;
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
  height: 2rem;
  background-color: #f9f7f6;
  display: flex;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.selected {
  background-color: #f8d451;
}

.pet-info__container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: #f9f7f6;
}

.pet-img {
  height: 30rem;
  width: 100%;
}

.pet-name {
  color: #f8d451;
  font-size: 1.8rem;
}

.pet-card {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #5175f8;
  display: flex;
  flex-direction: column;
}

.pet-card div:nth-of-type(1) {
  width: 100%;
  color: #5175f8;
}

.pet-card:hover {
  -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.pet-card div:nth-of-type(2) {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.pet-card div:nth-of-type(2) img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.pet-card div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.pet-card div:nth-of-type(3) span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.pet-card div:nth-of-type(3) h3 {
  margin-top: 5px;
  color: #5175f8;
}

.pet-card:hover div:nth-of-type(2) {
  height: 100%;
}

.pet-card:hover div:nth-of-type(3) {
  background-color: transparent;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative; /* Make the search container a positioned container */
}

.search ion-icon {
  position: absolute; /* Position the icon absolutely inside the container */
  left: 1rem; /* Position the icon 1rem from the left edge of the container */
  top: 50%; /* Position the icon vertically centered */
  transform: translateY(-50%); /* Adjust the vertical position of the icon */
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #000;
}

.search input {
  background-color: #f9f7f6;
  color: #000;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  height: 4rem;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
  outline: 0;
  flex: 1;
  align-self: center;
}
@media only screen and (max-width: 1500px) {
  .search input {
    width: 75%;
  }
}

.search ion-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #000;
}

.about-section {
  background-color: #5175f8;
  padding: 10rem 0 20rem 0;
  position: relative;
}

.text-container {
  display: flex;
  justify-content: center;
  padding-bottom: 12rem;
}

.about-text {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  max-width: 70rem;
  word-wrap: break-word;
  color: #f9f7f6;
  text-align: center;
}

.nosy-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30rem;
}

.about-link {
  color: #f8d451;
  text-decoration: none;
  font-weight: 800;
}
.about-link:hover {
  text-decoration: underline;
}

.facts-section {
  background-color: #5175f8;
  padding: 20rem 0 20rem 0;
}

.facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 1200px) {
  .facts-container {
    flex-direction: column;
  }
}

.facts-text {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8rem;
  max-width: 70rem;
  word-wrap: break-word;
  color: #f9f7f6;
}
@media only screen and (max-width: 1200px) {
  .facts-text {
    text-align: center;
  }
}

.featured-section {
  background-color: #f9f7f6;
  padding: 3rem 0 20rem 0;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.featured-heading {
  color: #5175f8;
  font-size: 3rem;
}

.featured-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  max-width: 70rem;
  word-wrap: break-word;
  color: #5175f8;
}

header {
  background-color: #5175f8;
  color: #f9f7f6;
  height: 100vh;
  position: relative;
}

nav {
  padding: 1rem 2rem 1rem 2rem;
}

.header-content-container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .header-content-container {
    padding: 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .header-content-container {
    padding: 30rem 10rem 30rem 10rem;
  }
}

.nav-title {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.title-icon {
  display: inline-flex;
  align-items: center;
  transform: rotate(17deg);
}

.hero-text {
  font-size: 4.2rem;
  font-weight: 800;
  text-align: center;
}

.hero-description {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  max-width: 70rem;
  word-wrap: break-word;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
  gap: 1rem;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 5rem;
}
@media only screen and (max-width: 1200px) {
  .hero-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50rem;
  }
}

.results-section {
  background-color: #f9f7f6;
  padding: 20rem 0 20rem 0;
}

.default-results-heading {
  text-align: center;
  font-size: 3rem;
  color: #5175f8;
}

.petcard-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.css.map */
