* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*62.5% of 16px = 10px (We use a % to be more user friendly, 16px is default)
*/
  /*Global font-size (Each rem unit is now 10px)*/
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-btn {
  border: none;
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
  height: 2rem;
  background-color: #f9f7f6;
  display: flex;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

.selected {
  background-color: #f8d451;
}

.google-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #4285f4;
  color: #fff;
  font-family: "Roboto", arial, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.21px;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.google-icon {
  background-color: #fff;
  height: 2.5rem;
  width: 2.5rem;
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  background-color: #f9f7f6;
  width: 65rem;
  height: 50rem;
  border-radius: 0.3rem;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: animate 0.3s;
  animation: animate 0.3s;
}
@media only screen and (max-width: 900px) {
  .modal {
    width: 55rem;
    height: 40rem;
  }
}
@media only screen and (max-width: 675px) {
  .modal {
    width: 40rem;
    height: 40rem;
  }
}
@media only screen and (max-width: 375px) {
  .modal {
    width: 35rem;
    height: 25rem;
  }
}

@-webkit-keyframes animate {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes animate {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal > ion-icon {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
}

.modal > ion-icon:hover {
  color: red;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  .modal-content {
    left: 42%;
  }
}
@media only screen and (max-width: 600px) {
  .modal-content {
    left: 36%;
  }
}

.modal-pet-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
@media only screen and (max-width: 600px) {
  .modal-pet-info {
    gap: 3rem;
  }
}
@media only screen and (max-width: 375px) {
  .modal-pet-info {
    gap: 1rem;
  }
}

.modal-pet-info img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
@media only screen and (max-width: 1800px) {
  .modal-pet-info img {
    max-width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .modal-pet-info img {
    max-width: 50%;
  }
}

.pet-info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.featured-pet-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.pet-info__description {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #000;
}

.pet-info {
  font-size: 1.6rem;
}
@media only screen and (max-width: 375px) {
  .pet-info {
    font-size: 1.4rem;
  }
}
.pet-info__name {
  font-size: 2rem;
  color: #5175f8;
}
.pet-info__link {
  text-decoration: none;
  color: #5175f8;
}

.learnmore-link {
  text-decoration: none;
  background-color: #5175f8;
  color: #f9f7f6;
  text-align: center;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.submit-modal__content {
  text-align: center;
  padding: 20rem;
}
@media only screen and (max-width: 375px) {
  .submit-modal__content {
    padding: 20rem 10rem 10rem 10rem;
  }
}

.submit-modal__text {
  font-size: 3rem;
}

.card-info__container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: #f9f7f6;
}
@media only screen and (max-width: 1200px) {
  .card-info__container {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.pet-img {
  height: 30rem;
  width: 100%;
}

.pet-name {
  color: #f8d451;
  font-size: 1.8rem;
}
@media only screen and (max-width: 1200px) {
  .pet-name {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .pet-breed {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .pet-location {
    font-size: 2rem;
  }
}

.pet-card {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #5175f8;
  display: flex;
  flex-direction: column;
}

.pet-card div:nth-of-type(1) {
  width: 100%;
  color: #5175f8;
}

.pet-card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.pet-card div:nth-of-type(2) {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.pet-card div:nth-of-type(2) img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pet-card div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.pet-card div:nth-of-type(3) span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.pet-card div:nth-of-type(3) h3 {
  margin-top: 5px;
  color: #5175f8;
}

.pet-card:hover div:nth-of-type(2) {
  height: 100%;
}

.pet-card:hover div:nth-of-type(3) {
  background-color: transparent;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative; /* Make the search container a positioned container */
}

.search input {
  background-color: #f9f7f6;
  color: #000;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  height: 4rem;
  -webkit-padding-start: 5rem;
  padding-inline-start: 5rem;
  -webkit-padding-end: 5rem;
  padding-inline-end: 5rem;
  outline: 0;
  flex: 1;
  align-self: center;
}
@media only screen and (max-width: 1500px) {
  .search input {
    width: 75%;
  }
}

.search ion-icon {
  position: absolute; /* Position the icon absolutely inside the container */
  left: 1rem; /* Position the icon 1rem from the left edge of the container */
  top: 50%; /* Position the icon vertically centered */
  transform: translateY(-50%); /* Adjust the vertical position of the icon */
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #000;
}
@media only screen and (max-width: 600px) {
  .search ion-icon {
    width: 18px;
    height: 18px;
  }
}
.search ion-icon:hover {
  color: #5175f8;
}

.error {
  color: red;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  padding: 5rem 3rem 5rem 3rem;
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.upload-form button {
  margin-top: 2rem;
  border-radius: 10rem;
  background-color: #f9f7f6;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.upload-form button:hover {
  background-color: #f8d451;
}
.upload-form input {
  background-color: #f9f7f6;
  color: #000;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  height: 4rem;
  -webkit-padding-start: 3rem;
  padding-inline-start: 3rem;
  -webkit-padding-end: 3rem;
  padding-inline-end: 3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  outline: 0;
  flex: 1;
  align-self: center;
}

.about-section {
  background-color: #5175f8;
  padding: 10rem 0 20rem 0;
  position: relative;
}

.text-container {
  display: flex;
  justify-content: center;
  padding: 3rem 3rem 12rem 3rem;
}

.about-text {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  max-width: 70rem;
  word-wrap: break-word;
  color: #f9f7f6;
  text-align: center;
}
@media only screen and (max-width: 475px) {
  .about-text {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

.nosy-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30rem;
}

.about-link {
  color: #f8d451;
  text-decoration: none;
  font-weight: 800;
}
.about-link:hover {
  text-decoration: underline;
}

.facts-section {
  background-color: #5175f8;
  padding: 10rem 0 10rem 0;
}

.facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 1200px) {
  .facts-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .facts-container img {
    height: 60rem;
    width: auto;
  }
}

.facts-text {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8rem;
  max-width: 70rem;
  word-wrap: break-word;
  color: #f9f7f6;
}
@media only screen and (max-width: 1200px) {
  .facts-text {
    text-align: center;
    padding: 0 3rem 0 3rem;
  }
}

.featured-section {
  background-color: #f9f7f6;
  padding: 3rem 0 5rem 0;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.featured-heading {
  color: #5175f8;
  font-size: 3rem;
}

.featured-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  max-width: 70rem;
  word-wrap: break-word;
  color: #5175f8;
}

header {
  background-color: #5175f8;
  color: #f9f7f6;
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
  }
}

.header-content-container {
  display: flex;
  justify-content: center;
}

.hero-text {
  font-size: 4.2rem;
  font-weight: 800;
  text-align: center;
}

.hero-description {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  max-width: 70rem;
  word-wrap: break-word;
  text-align: center;
}
@media only screen and (max-width: 475px) {
  .hero-description {
    line-height: 2rem;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
  gap: 1rem;
}
@media only screen and (max-width: 475px) {
  .hero-container {
    padding: 8rem 3rem 3rem 3rem;
  }
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 5rem;
  -o-object-fit: contain;
  object-fit: contain;
}
@media only screen and (max-width: 1500px) {
  .hero-img {
    height: 40rem;
  }
}
@media only screen and (max-width: 1200px) {
  .hero-img {
    height: 25rem;
  }
}
@media only screen and (max-width: 900px) {
  .hero-img {
    position: static;
    bottom: auto;
    right: auto;
    height: 50rem;
    width: 100%;
    justify-self: flex-end;
    align-self: center;
    overflow: hidden;
  }
}

nav {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #5175f8;
}

.logo-link {
  text-decoration: none;
}

.nav-title {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: #f9f7f6;
}

.title-icon {
  display: inline-flex;
  align-items: center;
  transform: rotate(17deg);
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 800;
  color: #f9f7f6;
  text-decoration: none;
}
.nav-link:hover {
  color: #f8d451;
}

.results-section {
  background-color: #f9f7f6;
  padding: 5rem 0 5rem 0;
}

.default-results-heading {
  text-align: center;
  font-size: 3rem;
  color: #5175f8;
}

.petcard-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-section {
  padding: 0 5rem 5rem 5rem;
  background-color: #f9f7f6;
  height: 100vh;
}

.auth-content {
  display: flex;
  gap: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.auth-text {
  color: #5175f8;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.submit-section {
  background-color: #5175f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.submit-title {
  font-size: 4.2rem;
  font-weight: 800;
  color: #f9f7f6;
}

.submit-description {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  max-width: 70rem;
  word-wrap: break-word;
  text-align: center;
  color: #f9f7f6;
  padding: 0 3rem 0 3rem;
}

.asterisk-text {
  color: #f8d451;
  font-size: 1.8rem;
  font-size: 600;
}

/*# sourceMappingURL=main.css.map */
