.auth-section {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  background-color: $color-main-white;
}

.auth-text {
  color: $color-main-blue;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.submit-section {
  background-color: $color-main-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.submit-title {
  font-size: 4.2rem;
  font-weight: 800;
  color: $color-main-white;
}

.submit-description {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  max-width: 70rem;
  word-wrap: break-word;
  text-align: center;
  color: $color-main-white;
  padding:  0 3rem 0 3rem;
}

.asterisk-text {
    color: $color-mustard-yellow;
    font-size: 1.8rem;
    font-size: 600;
}