.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-btn {
  border: none;
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
  height: 2rem;
  background-color: $color-main-white;
  display: flex;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

.selected {
  background-color: $color-mustard-yellow;
}

// AUTH GOOGLE BUTTON
.google-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: $color-google-blue;
  color: #fff;
  font-family: "Roboto", arial, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.21px;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.google-icon {
  background-color: #fff;
  height: 2.5rem;
  width: 2.5rem;
}
