header {
  background-color: $color-main-blue;
  color: $color-main-white;
  height: 100vh;
  position: relative;

  @media only screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
  }
}

.header-content-container {
  display: flex;
  justify-content: center;
}

.hero-text {
  font-size: 4.2rem;
  font-weight: 800;
  text-align: center;
}

.hero-description {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  max-width: 70rem;
  word-wrap: break-word;
  text-align: center;

  @media only screen and (max-width: 475px) {
    line-height: 2rem;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
  gap: 1rem;

  @media only screen and (max-width: 475px) {
    padding: 8rem 3rem 3rem 3rem;
  }
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 5rem;
  -o-object-fit: contain;
  object-fit: contain;

  @media only screen and (max-width: 1500px) {
    height: 40rem;
  }

  @media only screen and (max-width: 1200px) {
    height: 25rem;
  }

  @media only screen and (max-width: 900px) {
    position: static;
    bottom: auto;
    right: auto;
    height: 50rem;
    width: 100%;
    justify-self: flex-end;
    align-self: center;
    overflow: hidden;
  }
}
