// COLORS
$color-main-blue: #5175f8;
$color-main-white: #f9f7f6;
$color-mustard-yellow: #f8d451;

$color-google-blue: #4285f4;

// FONT
$default-font-size: 1.6rem;

// BORDER RADIUS
$default-border-radius: 0.3rem;
